@import "tailwindcss";

.clip-triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 8s linear infinite;
}
